.flashcard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    text-align: center;
  }
  
  button {
    margin: 10px;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }

  nav {
    text-align: right;
  }
  
  nav a {
    text-decoration: none;
  }
  